@using DiplomaProjectManagement.Common
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Chức năng</h3>
        <ul class="nav side-menu">
            @if (User.IsInRole(RoleConstants.Student))
            {
                <li>
                    <a><i class="fa fa-home"></i> Thông tin cá nhân <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Sửa thông tin cá nhân", "Edit", "Student")</li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-home"></i> Đề tài giảng viên <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Đăng ký đề tài", "Register", "DiplomaProject")</li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-home"></i> Đề tài đã đăng ký <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Xem đề tài đã đăng ký", "DiplomaProjectDetails", "Student")</li>
                    </ul>
                </li>
            }
            @if (User.IsInRole(RoleConstants.Lecturer))
            {
                <li>
                    <a><i class="fa fa-home"></i> Đề tài tốt nghiệp <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Xem danh sách đề tài", "Index", "DiplomaProject")</li>
                        <li>@Html.ActionLink("Thêm đề tài", "Create", "DiplomaProject")</li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-home"></i> Sinh viên hướng dẫn <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Xem danh sách sinh viên", "Index", "DiplomaProjectRegistration")</li>
                    </ul>
                </li>
            }
        </ul>
    </div>

</div>
